{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Order Page ✅</h1>
        <h3>{{ form }}</h3>
        <ul>
            <h4>{{ text }}</h4>
        </ul>
        <ul>
            <li><a href="{{ path('order_add') }}"> Add new order </a></li>
            <li><a href="{{ path('order_date_sold_search') }}"> Find some order </a></li>
            <li><a href="{{ path('order_update') }}"> Update order </a></li>
            <li><a href="{{ path('order_delete') }}"> Delete order </a></li>
            <li><a href="{{ path('order_get_all') }}"> Get all info about orders </a></li>
        </ul>
    </div>
{% endblock %}
