{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Order Page ✅</h1>
		<ul>
			<li>
				<a href="{{ path('order_add') }}">
					Add new order
				</a>
			</li>
			<li>
				<a href="{{ path('order_date_sold_search') }}">
					Find some order
				</a>
			</li>
			<li>
				<a href="{{ path('order_update') }}">
					Update order
				</a>
			</li>
			<li>
				<a href="{{ path('order_delete') }}">
					Delete order
				</a>
			</li>
		</ul>

		{{ form(form) }}

			<h3>All orders:</h3>
			<table>
				<tr>
					<th>seller</th>
					<th>is Paid</th>
					<th>date Solled</th>
					<th>pdf rout</th>
				</tr>
				{% for user_all in order_result %}
					<tr>
						<td>{{ user_all.seller }}</td>
						<td>{{ user_all.isPaid }}</td>
						<td>{{ user_all.dateSold |date('d-m-Y') }}</td>
						<td>{{ user_all.pdfRout }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endblock %}
